.sf-button {
  --link-color: var(--button-color, var(--c-light-variant));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: var(--button-size, var(--button-width));
  height: var(--button-size, var(--button-height));
  display: var(--button-display, flex);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--button-padding, var(--spacer-sm) var(--spacer-base));
  color: var(--button-color, var(--c-light-variant));
  background: var(--button-background, var(--c-primary));
  -webkit-transition: var(--button-transition, background 0.8s);
  transition: var(--button-transition, background 0.8s);
  background-position: center;
  text-transform: var(--button-text-transform, uppercase);
  -webkit-text-decoration: var(--button-text-decoration);
          text-decoration: var(--button-text-decoration);
  cursor: var(--button-cursor, pointer);
  border-radius: var(--button-border-radius, 0);
  white-space: var(--button-wrap, nowrap);
  font: var(--button-font, var(--button-font-weight, var(--font-weight--semibold)) var(--button-font-size, var(--font-size--base))/var(--button-font-line-height, 1.2) var(--button-font-family, var(--font-family--secondary)));
  border: var(--button-border, var(--button-border-style, solid) var(--button-border-color, var(--c-primary)));
  border-width: var(--button-border-width, 0);
  --button-box-shadow-opacity: 0;
}

.sf-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-transition: var(--button-box-shadow-transition, opacity var(--button-box-shadow-transition-opacity-duration, 200ms) var(--button-box-shadow-transition-opacity-timing-function, ease-in-out), box-shadow var(--button-box-shadow-transition-box-shadow-duration, 200ms) var(--button-box-shadow-transition-box-shadow-timing-function, ease-in-out));
  transition: var(--button-box-shadow-transition, opacity var(--button-box-shadow-transition-opacity-duration, 200ms) var(--button-box-shadow-transition-opacity-timing-function, ease-in-out), box-shadow var(--button-box-shadow-transition-box-shadow-duration, 200ms) var(--button-box-shadow-transition-box-shadow-timing-function, ease-in-out));
  opacity: var(--button-box-shadow-opacity);
  -webkit-box-shadow: var(--button-box-shadow, var(--button-box-shadow-h-offset, 4px) var(--button-box-shadow-v-offset, 12px) var(--button-box-shadow-blur, 24px) var(--button-box-shadow-spread, 0px) var(--button-box-shadow-color, var(--c-gray)));
          box-shadow: var(--button-box-shadow, var(--button-box-shadow-h-offset, 4px) var(--button-box-shadow-v-offset, 12px) var(--button-box-shadow-blur, 24px) var(--button-box-shadow-spread, 0px) var(--button-box-shadow-color, var(--c-gray)));
  will-change: opacity, box-shadow;
}

.sf-button.color-black {
  --button-background: var(--c-dark);
}

.sf-button.color-black:hover {
  --button-background: var(--c-dark) radial-gradient(circle, transparent 1%, var(--c-dark) 1%) center/15000%;
}

.sf-button.color-black:active {
  --button-background:  var(--c-dark) radial-gradient(circle, transparent 40%, var(--c-dark) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-white {
  --button-background: var(--c-white);
}

.sf-button.color-white:hover {
  --button-background: var(--c-white) radial-gradient(circle, transparent 1%, var(--c-white) 1%) center/15000%;
}

.sf-button.color-white:active {
  --button-background:  var(--c-white) radial-gradient(circle, transparent 40%, var(--c-white) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-primary {
  --button-background: var(--c-primary);
}

.sf-button.color-primary:hover {
  --button-background: var(--c-primary) radial-gradient(circle, transparent 1%, var(--c-primary-variant) 1%) center/15000%;
}

.sf-button.color-primary:active {
  --button-background:  var(--c-primary) radial-gradient(circle, transparent 40%, var(--c-primary-variant) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-secondary {
  --button-background: var(--c-secondary);
}

.sf-button.color-secondary:hover {
  --button-background: var(--c-secondary) radial-gradient(circle, transparent 1%, var(--c-secondary-variant) 1%) center/15000%;
}

.sf-button.color-secondary:active {
  --button-background:  var(--c-secondary) radial-gradient(circle, transparent 40%, var(--c-secondary-variant) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light {
  --button-background: var(--c-light);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-light-variant) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background:  var(--c-light) radial-gradient(circle, transparent 40%, var(--c-light-variant) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-dark {
  --button-background: var(--c-dark);
}

.sf-button.color-dark:hover {
  --button-background: var(--c-dark) radial-gradient(circle, transparent 1%, var(--c-dark-variant) 1%) center/15000%;
}

.sf-button.color-dark:active {
  --button-background:  var(--c-dark) radial-gradient(circle, transparent 40%, var(--c-dark-variant) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-info {
  --button-background: var(--c-info);
}

.sf-button.color-info:hover {
  --button-background: var(--c-info) radial-gradient(circle, transparent 1%, var(--c-info-variant) 1%) center/15000%;
}

.sf-button.color-info:active {
  --button-background:  var(--c-info) radial-gradient(circle, transparent 40%, var(--c-info-variant) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-success {
  --button-background: var(--c-success);
}

.sf-button.color-success:hover {
  --button-background: var(--c-success) radial-gradient(circle, transparent 1%, var(--c-success-variant) 1%) center/15000%;
}

.sf-button.color-success:active {
  --button-background:  var(--c-success) radial-gradient(circle, transparent 40%, var(--c-success-variant) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-warning {
  --button-background: var(--c-warning);
}

.sf-button.color-warning:hover {
  --button-background: var(--c-warning) radial-gradient(circle, transparent 1%, var(--c-warning-variant) 1%) center/15000%;
}

.sf-button.color-warning:active {
  --button-background:  var(--c-warning) radial-gradient(circle, transparent 40%, var(--c-warning-variant) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-danger {
  --button-background: var(--c-danger);
}

.sf-button.color-danger:hover {
  --button-background: var(--c-danger) radial-gradient(circle, transparent 1%, var(--c-danger-variant) 1%) center/15000%;
}

.sf-button.color-danger:active {
  --button-background:  var(--c-danger) radial-gradient(circle, transparent 40%, var(--c-danger-variant) 1%) center/15000%;
}

.sf-button.color-light {
  color: var(--c-gray);
}

.sf-button.color-light:hover {
  --button-background: var(--c-light) radial-gradient(circle, transparent 1%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button.color-light:active {
  --button-background: var(--c-light) radial-gradient(circle, transparent 40%, var(--c-text-disabled) 1%) center/15000%;
}

.sf-button:hover {
  --button-box-shadow-opacity: 0.25;
  --button-background: var(--c-primary) radial-gradient(circle, transparent 1%, var(--c-primary-variant) 1%) center/15000%;
}

.sf-button:active {
  --button-box-shadow: none;
  --button-background: var(--c-primary) radial-gradient(circle, transparent 40%, var(--c-primary-variant) 1%) center/15000%;
  --button-transition: background 0s ;
  --button-text-decoration: underline;
  background-size: 100%;
}

.sf-button--pure {
  --button-padding: 0;
  --button-background: transparent;
  --button-color: var(--c-text);
  --button-text-transform: none;
  --button-wrap: normal;
  --button-box-shadow: none;
}

.sf-button--pure:active, .sf-button--pure:hover {
  --button-background: transparent;
  --button-text-decoration: none;
}

.sf-button--full-width {
  --button-width: 100%;
}

.sf-button--outline {
  --button-border-width: 1px;
  --button-background: transparent;
  --button-color: var(--c-text);
}

.sf-button--outline:hover {
  --button-background: transparent;
}

.sf-button--outline:active {
  --button-border-color: var(--c-primary-variant);
  --button-background: transparent;
  --button-transition: color 150ms linear;
}

.sf-button--outline.color-black {
  --button-border-color: var(--c-dark);
  --button-background: transparent;
}

.sf-button--outline.color-black:active {
  --button-background: transparent;
}

.sf-button--outline.color-white {
  --button-border-color: var(--c-white);
  --button-background: transparent;
}

.sf-button--outline.color-white:active {
  --button-background: transparent;
}

.sf-button--outline.color-primary {
  --button-border-color: var(--c-primary);
  --button-background: transparent;
}

.sf-button--outline.color-primary:active {
  --button-background: transparent;
}

.sf-button--outline.color-secondary {
  --button-border-color: var(--c-secondary);
  --button-background: transparent;
}

.sf-button--outline.color-secondary:active {
  --button-background: transparent;
}

.sf-button--outline.color-light {
  --button-border-color: var(--c-light);
  --button-background: transparent;
}

.sf-button--outline.color-light:active {
  --button-background: transparent;
}

.sf-button--outline.color-dark {
  --button-border-color: var(--c-dark);
  --button-background: transparent;
}

.sf-button--outline.color-dark:active {
  --button-background: transparent;
}

.sf-button--outline.color-info {
  --button-border-color: var(--c-info);
  --button-background: transparent;
}

.sf-button--outline.color-info:active {
  --button-background: transparent;
}

.sf-button--outline.color-success {
  --button-border-color: var(--c-success);
  --button-background: transparent;
}

.sf-button--outline.color-success:active {
  --button-background: transparent;
}

.sf-button--outline.color-warning {
  --button-border-color: var(--c-warning);
  --button-background: transparent;
}

.sf-button--outline.color-warning:active {
  --button-background: transparent;
}

.sf-button--outline.color-danger {
  --button-border-color: var(--c-danger);
  --button-background: transparent;
}

.sf-button--outline.color-danger:active {
  --button-background: transparent;
}

.sf-button--text {
  --button-border-width: 0;
  --button-padding: 0;
  --button-background: transparent;
  --button-color: var(--c-text);
  --button-text-transform: none;
  --button-text-decoration: underline;
  --button-font-size: var(--font-size--sm);
  --button-font-weight: var(--font-weight--medium);
  --button-box-shadow: none;
  display: inline;
}

.sf-button--text:hover {
  --button-background: transparent;
  --button-color: var(--c-primary);
}

.sf-button--text:active {
  --button-color: var(--c-gray);
}

.sf-button--text.color-black {
  --button-background: transparent;
}

.sf-button--text.color-black:hover {
  --button-color: var(--c-dark);
}

.sf-button--text.color-black:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button--text.color-white {
  --button-background: transparent;
}

.sf-button--text.color-white:hover {
  --button-color: var(--c-white);
}

.sf-button--text.color-white:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button--text.color-primary {
  --button-background: transparent;
}

.sf-button--text.color-primary:hover {
  --button-color: var(--c-primary);
}

.sf-button--text.color-primary:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button--text.color-secondary {
  --button-background: transparent;
}

.sf-button--text.color-secondary:hover {
  --button-color: var(--c-secondary);
}

.sf-button--text.color-secondary:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button--text.color-light {
  --button-background: transparent;
}

.sf-button--text.color-light:hover {
  --button-color: var(--c-light);
}

.sf-button--text.color-light:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button--text.color-dark {
  --button-background: transparent;
}

.sf-button--text.color-dark:hover {
  --button-color: var(--c-dark);
}

.sf-button--text.color-dark:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button--text.color-info {
  --button-background: transparent;
}

.sf-button--text.color-info:hover {
  --button-color: var(--c-info);
}

.sf-button--text.color-info:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button--text.color-success {
  --button-background: transparent;
}

.sf-button--text.color-success:hover {
  --button-color: var(--c-success);
}

.sf-button--text.color-success:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button--text.color-warning {
  --button-background: transparent;
}

.sf-button--text.color-warning:hover {
  --button-color: var(--c-warning);
}

.sf-button--text.color-warning:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button--text.color-danger {
  --button-background: transparent;
}

.sf-button--text.color-danger:hover {
  --button-color: var(--c-danger);
}

.sf-button--text.color-danger:active {
  --button-color: var(--c-gray);
  --button-background: transparent;
}

.sf-button.is-disabled--button, .sf-button.is-disabled--button:hover, .sf-button.is-disabled--button:active {
  --button-color: var(--c-text-disabled);
  --button-border-color: transparent;
  --button-background: var(--c-light);
  --button-box-shadow: none;
  pointer-events: none;
  cursor: default;
}

.sf-button.is-disabled--button.sf-button--text, .sf-button.is-disabled--button:hover.sf-button--text, .sf-button.is-disabled--button:active.sf-button--text {
  --button-background: transparent;
  --button-color: var(--c-gray-variant);
}

.sf-button.is-disabled--button.sf-button--outline, .sf-button.is-disabled--button:hover.sf-button--outline, .sf-button.is-disabled--button:active.sf-button--outline {
  --button-border-color: var(--c-light);
  --button-background: transparent;
}

.sf-button--underlined {
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
  --button-background: transparent;
  --button-color: var(--c-text-muted);
  --button-box-shadow: none;
}

.sf-button--underlined:active {
  --button-background: var(--c-gray-variant);
  --button-color: var(--c-light-variant);
}

.sf-button--underlined:hover {
  --button-background: var(--c-gray-variant);
  --button-color: var(--c-white);
}

.sf-button--underlined.color-black {
  --button-background: transparent;
}

.sf-button--underlined.color-black:active {
  --button-background: var(--c-dark);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

.sf-button--underlined.color-white {
  --button-background: transparent;
}

.sf-button--underlined.color-white:active {
  --button-background: var(--c-white);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

.sf-button--underlined.color-primary {
  --button-background: transparent;
}

.sf-button--underlined.color-primary:active {
  --button-background: var(--c-primary);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

.sf-button--underlined.color-secondary {
  --button-background: transparent;
}

.sf-button--underlined.color-secondary:active {
  --button-background: var(--c-secondary);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

.sf-button--underlined.color-light {
  --button-background: transparent;
}

.sf-button--underlined.color-light:active {
  --button-background: var(--c-light);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

.sf-button--underlined.color-dark {
  --button-background: transparent;
}

.sf-button--underlined.color-dark:active {
  --button-background: var(--c-dark);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

.sf-button--underlined.color-info {
  --button-background: transparent;
}

.sf-button--underlined.color-info:active {
  --button-background: var(--c-info);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

.sf-button--underlined.color-success {
  --button-background: transparent;
}

.sf-button--underlined.color-success:active {
  --button-background: var(--c-success);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

.sf-button--underlined.color-warning {
  --button-background: transparent;
}

.sf-button--underlined.color-warning:active {
  --button-background: var(--c-warning);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

.sf-button--underlined.color-danger {
  --button-background: transparent;
}

.sf-button--underlined.color-danger:active {
  --button-background: var(--c-danger);
  --button-border-width: 0 0 1px 0;
  --button-border-color: var(--c-light);
}

@media (min-width: 1024px) {
  .sf-button {
    --button-padding: var(--spacer-sm) var(--spacer-lg);
  }
  .sf-button--pure, .sf-button--text {
    --button-padding: 0;
  }
}

.sf-link {
  --button-width: var(--spacer-3xl);
}

.sf-link.is-disabled--link, .sf-link.is-disabled--link:hover {
  --button-box-shadow: none;
  --button-border-color: transparent;
  --button-background: var(--c-light);
  pointer-events: none;
  cursor: default;
}

.sf-link.is-disabled--link.sf-button, .sf-link.is-disabled--link:hover.sf-button {
  --button-color: var(--c-text-disabled);
}

.sf-link.is-disabled--link.sf-button--text, .sf-link.is-disabled--link:hover.sf-button--text {
  --button-background: transparent;
  --link-color: var(--c-gray-variant);
}

.sf-link.is-disabled--link.sf-button--outline, .sf-link.is-disabled--link:hover.sf-button--outline {
  --button-border-color: var(--c-light);
  --button-background: transparent;
}
/*# sourceMappingURL=SfButton.css.map */