.sf-table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: var(--table-width, 100%);
  border: none;
  border-spacing: var(--table-border-spacing, 0);
}

.sf-table__heading, .sf-table__row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sf-table__heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--table-heading-padding, var(--spacer-sm) 0);
  background-color: var(--table-heading-background, transparent);
  border: var(--table-border-heading, var(--table-border-heading-style, solid) var(--table-border-heading-color, var(--c-primary)));
  border-width: var(--table-border-heading-width, 0 0 2px 0);
}

.sf-table__header {
  font: var(--table-header-font, var(--table-header-font-weight, var(--font-weight--normal)) var(--table-header-font-size, var(--font-size--base))/var(--table-header-font-line-height, 1.4) var(--table-header-font-family, var(--font-family--secondary)));
  color: var(--table-header-color, var(--c-text));
}

.sf-table__row {
  padding: var(--table-row-padding, var(--spacer-xs) 0);
  background-color: var(--table-row-background);
  -webkit-box-shadow: var(--table-row-box-shadow);
          box-shadow: var(--table-row-box-shadow);
  border: var(--table-row-border, var(--table-row-border-style, solid) var(--table-row-border-color, var(--c-light)));
  border-width: var(--table-row-border-width, 0 0 2px 0);
}

.sf-table__data {
  color: var(--table-data-color, var(--c-dark-variant));
  font: var(--table-data-font, var(--table-data-font-weight, var(--font-weight--normal)) var(--table-data-font-size, var(--font-size--base))/var(--table-data-font-line-height, 1.6) var(--table-data-font-family, var(--font-family--secondary)));
}

.sf-table__data, .sf-table__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: var(--table-column-flex, 0 0 calc(100% / var(--_table-column-width)));
      -ms-flex: var(--table-column-flex, 0 0 calc(100% / var(--_table-column-width)));
          flex: var(--table-column-flex, 0 0 calc(100% / var(--_table-column-width)));
  padding: var(--table-column-padding, 0);
  text-align: var(--table-column-text-align, left);
}

.sf-table__data:nth-child(even), .sf-table__header:nth-child(even) {
  -webkit-box-ordinal-group: NaN;
      -ms-flex-order: var(--_table-column-order, 1);
          order: var(--_table-column-order, 1);
}

.sf-table--no-border {
  --table-row-border-width: 0;
}

@media (min-width: 1024px) {
  .sf-table {
    --table-row-padding: var(--spacer-sm) var(--spacer-sm);
    --table-heading-padding: var(--spacer-sm) var(--spacer-sm);
    --table-heading-background: transparent;
    --table-column-flex: 1;
    --_table-column-order: 0;
    --table-header-font-weight: var(--font-weight--normal);
  }
  .sf-table--no-border {
    --table-row-border-width: 0;
  }
  .sf-table__row:hover {
    --table-row-box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
  }
}
/*# sourceMappingURL=SfTable.css.map */